:root {
    --main-cont-color: rgba(255, 255, 255, 0.8);
    --login-cont-color: rgba(255, 30, 0, 0.4);
}
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url("bg.webp") no-repeat center center fixed;
    background-size: cover;
}
body {
    margin:0%;
    padding:0%;
}
.main_container {
    display: flex;
    transition: all 0.7s;
    margin: 5% 15%;
    padding: 4% 3%;
    background-color: var(--main-cont-color);
    border-radius: 50px 10px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    justify-content: space-around;
}
.dark_main_container {
    display: flex;
    transition: all 0.5s;
    margin: 5% 15%;
    padding: 4% 3%;
    background-color: rgba(40,40,40, 0.8);
    border-radius: 50px 10px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    justify-content: space-around;
}
.content_container {
    display:flex;
    flex-direction: column; 
}
.logo_container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;;
}
.logo  img {
    width: 250px;
    height: 80px;
    object-fit: cover;
}
.logo img#lite {
    position: absolute;
}
.logo_dark img#lite {
    visibility: hidden;
}
.logo img#dark {
    visibility: hidden;
}
.logo_dark img#dark {
    visibility: visible;
    position: relative;
}
.bottom_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}
.bottom_container p {
    margin: 0px 10px 0px 0px;
}
.bottom_container_dark p{
    visibility: hidden;
    position: relative;
}
.bottom_container_dark p::after {
    color: white;
    visibility: visible;
    position: absolute;
    left: 0;
    content: "~Dark";
}
.toggle {
    position : relative ;
    width : 35px;
    height : 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 30px;
    transition: background .7s; 
}
.toggle:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(146, 146, 146);
    top: .9px; 
    left: 1px;
    transition:  all .5s;
}
.checkbox:checked + .toggle::after {
    left : 16px;
}
.checkbox:checked + .toggle {
    background-color: rgb(63, 63, 63);
}
.checkbox { 
    display : none;
}
.login_container {
    display:grid;
    grid-template-columns: 50% 50%;
}
.display {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15% 0% 0% 20%;
    padding-bottom: 5%;
}
.display_dark h1,
.display_dark >.display_child >.display_child_content h2,
.input_container_dark >.input_area h2 {
    color: rgb(192, 189, 189);
}
.display_dark >.display_child p,
.input_container_dark >.input_area p,
.input_container_dark >.input_area >.input_field input::placeholder,
.input_container_dark >.input_area >.input_field *{
    color: rgb(180, 162, 101);
}
.input_container_dark >.input_area >.input_field > input {
    border-bottom: 2px solid rgb(0, 146, 122);
}
.display_dark >.display_child >.display_child_content >.num_plate hr {
    background-color:rgb(161, 189, 105);
    border: 1px solid red;
}
.display * {
    margin: 15px 0px;
}
.display h1 {
    font-size: 4vw;
}
.display p {
    margin: 0px;
    color: rgb(107, 107, 107);
    transition:  all .2s;
}
.display p:hover {
    transform: scale3d(1,1.1,1.2);
}
.display_child {
    display: grid;
    grid-template-columns: 80% 20%;
}
.display_child_content {
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.num_plate {
    display:flex;
    flex-direction: column;
    align-items: baseline;
}
.num_plate h2 {
    margin: 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 2vw;
}
.num_plate h2:hover {
    position: relative;
    top: -2%;
    color: black;
}
.num_plate hr {
    margin: 0px;
    background-color: red;
    border: 1px solid plum;
    border-radius: 100%;
    height:2%;
}
.sns_container {
    display:flex;
    justify-content:left;
    margin-top: 0px;
}
.sns_container > img {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 0px;
    object-fit: fill;
}
.sns_container img:hover {
    transform: scale(1.1,1.1);
    transform-origin: 50% 0%;
}
.input_container {
    display:flex;
    flex-direction: column;
    margin: 15% 15%;
    padding: 5%;
    background-color: var(--login-cont-color);
    border-radius:10px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    transition: all 0.5s;
}
.input_container:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.25) 0px -10px 20px;
}
.input_area {
    display: flex;
    flex-direction: column;
    position: relative;
}
.input_area p{
    margin: 5px 0px 20px 0px;
    color: rgb(104, 104, 104);
    display: inline;
}
.input_area h2 {
    margin:10px 0px 0px 0px;
}
.input_field {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin-top: 20px
}
.input_field > input {
    border: none;
    border-bottom: 2px solid rgb(243, 28, 139);
    background-color: rgba(255, 30, 0, 0);
    width: 100%;
    margin: 5px 0px;
    font-size: 20px;
    font-style: italic;
    height: 30px;
    outline: none;
}
.utility_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: rgb(104, 104, 104);
}
input#rememberMe {
    float:left;
    margin: 0;
}
.utility_container label {
    font-size: 0.75rem;
    float: left;
}
.utility_container a {
    font-size: 0.75em;
    display: inline-block;
    width: 100px;
    text-decoration: none;
    color: rgb(104, 104, 104);
}
.utility_container a:hover {
    text-decoration: underline;
    color: red;
}
.input_area button {
    background-color: rgba(255, 136, 1, 0.4);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    width: 100%;
    margin: 50px 0px 0px 0px;
    padding: 15px;
    border-radius: 30px 30px;
    cursor: pointer;
    font-size: 20px;
    transition:  all .1ms;
}
.input_container >.input_area button:hover {
    box-shadow:rgba(94, 26, 26,.5) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.25) 0px -10px 20px;
}
.input_area button:hover {
    border: 1px solid black;
    background-color: rgba(255, 6, 6, 0.4);
    box-shadow:rgba(0,0,0,0.4) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    padding:12.2px 15px;
    font-size: 25px;
}
@media only screen and (max-width: 1050px) {
    .main_container {
        margin: 6% 6%;
    }
}
@media only screen and (max-width: 865px) {
    .main_container {
        margin: 20% 3%;
        padding: 1% 1%;
    }
}
@media only screen and (max-width: 770px) {
    .input_area p,.display p{
        margin: 5px 0px 5px 0px;
        font-size: 2vw;
    }
    .logo_container {
        align-items: end;
    }
    .input_container {
        padding: 2%;
    }
    .input_field {
        margin-top: 5px;
    }
    .input_area button {
        margin-top: 25px;
    }
    .utility_container label {
        font-size: 0.65rem;
        float: left;
    }
    .utility_container a {
        font-size: 0.65em;
        display: inline-block;
        width: 85px;
    }
}
@media only screen and (max-width: 625px) {
    .main_container {
        border-radius: 50px 20px;
    }
    .login_container {
        display: flex;
        flex-direction: column-reverse;
    }
    .input_container {
        margin: 15% 15% 5% 15%;
    }
    .logo img {
        width: 200px;
        height: 60px;
        object-fit: cover;
    }
    .display {
        margin:5% 0% 0% 0%;
        padding: 0;
        align-items: center;
    }
    .display h1 {
        font-size: 8vw;
        margin-bottom: 0px;
        border-top: 5px double rgb(82, 170, 228) ;
    }
    .display p{
        font-size: 15px;
    }
    .display_child {
        display: flex;
        padding: 0% 5%;
    }
    .num_plate {
        flex-direction: row;
        justify-content: space-around;
    }
    .num_plate h2 {
        font-size: 20px;
    }
    .sns_container {
        justify-content: center;
    }
    .sns_container > img {
        width: 40px;
        height: 40px;
    }
    .input_area p {
        font-size: 15px;
    }
    .input_area button {
        margin-top: 55px;
    }
    .input_field {
        margin-top:25px;
    }
    .utility_container label {
        font-size: .8rem;
    }
    .utility_container a {
        font-size: .8rem;
        width: 110px;
    }
}
@media only screen and (max-width: 420px) {
    .main_container {
        margin: 22% 1%
    }
    .num_plate h2 {
        font-size: 15px;
    }
    .input_container {
        margin: 15% 7% 5% 7%;
    }
    .input_area button {
        margin-top: 30px;
    }
    .toggle {
        width : 20px;
        height : 10px;
    }
    .toggle:after {
        width: 9px;
        height: 9px;
        top: .7px; 
        left: 1px;
    }
    .checkbox:checked + .toggle::after {
        left: 10px;
    }
}